:root {
    --card-color: #FCFCFC;
    --border: #D4D4D4;
    --background-color: #e6e6e6;
}


body {
    background-color: var(--background-color);
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
}


.card {
    display: flex;
    align-items: center;
    background-color: var(--card-color);
    width: 65rem;
    height: 35rem;
    padding: 3.7rem;
    box-shadow: 0 2rem 2rem -1rem #00000040;
    border-radius: 2rem;
    padding-top: 6rem;
    padding-bottom: 6rem;

    gap: 4rem;
}

.card-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.card-content h1{
    font-size: 2.5rem;
    font-weight: 700;
}

.faq-content {
    display: flex;
    flex-direction: column;
}


.question {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 39rem;
}

.question h3{
    font-size: 1.7rem;
    font-weight: 700;
    margin-bottom: 1rem;
    cursor: pointer;
}

.resposta{
    font-size: 1.5rem;
    font-weight: 300;
}

.container .imagem {
    margin-left: -12.7rem;
}



.seta{
    height: 0.8rem;
    cursor: pointer;
}


.ocultar {
    display: none;
}